<div data-section-id="{{ section.id }}" data-template="product" class="{% if product.has_only_default_variant %}only-default-variant{% endif %}">
  
  {%- render 'template-product' -%}
  
  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'product-tabs' %}
      {% if block.settings.enable_product_tabs %}
        {% include 'block-product-tabs' %}
      {% endif %}
    {% when 'related-products' %}
      {% if block.settings.enable_related_products %}
        {% include 'block-related-products' %}
      {% endif %}
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.template-product-bundle.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "product-tabs",
      "name": "Product Tabs",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "enable_product_tabs",
          "label": "Enabled?"
        },
        {
          "type": "checkbox",
          "id": "product_tabs_fluid_layout",
          "label": "Full Width Layout?",
          "default": false
        },
        {
          "type": "header",
          "content": "Tabs"
        },
        {
          "type": "checkbox",
          "id": "enable_descripion_tab",
          "label": "Enable Description Tab?"
        },
        {
          "type": "checkbox",
          "id": "enable_custom_tab_1",
          "label": "Enable Custom Tab 1?"
        },
        {
          "type": "text",
          "id": "tab_1_title",
          "label": "Tab 1 Title",
          "default": "Tab Title 1"
        },
        {
          "type": "page",
          "id": "tab_1_content",
          "label": "Tab 1 Content"
        },
        {
          "type": "checkbox",
          "id": "enable_custom_tab_2",
          "label": "Enable Custom Tab 2?"
        },
        {
          "type": "text",
          "id": "tab_2_title",
          "label": "Tab 2 Title",
          "default": "Tab Title 2"
        },
        {
          "type": "textarea",
          "id": "tab_2_content",
          "label": "Tab 2 Content"
        }
      ]
    },
    {
      "type": "related-products",
      "name": "Related Products",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Layout"
        },
        {
          "type": "checkbox",
          "id": "enable_related_products",
          "label": "Enabled?"
        },
        {
          "type": "checkbox",
          "id": "related_products_fluid_layout",
          "label": "Full Width Layout?",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "related_products_section_padding",
          "label": "Section Padding?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "related_products_section_no_gutters",
          "label": "No Gutters?",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "related_products_nav_arrows",
          "label": "Arrows Navigation",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "related_products_nav_dots",
          "label": "Dots Navigation",
          "default": true
        },
        {
          "type": "range",
          "id": "related_products_view",
          "label": "Total Items to Show",
          "min": 0,
          "max": 16,
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "related_products_auto_play",
          "label": "Autoplay",
          "info": "Duration of animation between slides (in seconds). Set to zero if you don't want the slider to autoplay.",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 0
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "related_products_heading_txt",
          "label": "Heading Text",
          "default": "Related Products"
        },
        {
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "related_products_section_bg_color",
          "label": "Background Color",
          "default": "#F8F9FA"
        },
        {
          "type": "color",
          "id": "related_products_section_color",
          "label": "Text Color",
          "default": "#343a40"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Template"
    },
    {
      "type": "select",
      "id": "template_type",
      "label": "Template Type",
      "options": [
        {
          "value": "classic-horizontal",
          "label": "Classic: Horizontal Thumbs"
        },
        {
          "value": "classic-vertical",
          "label": "Classic: Vertical Thumbs"
        }
      ],
      "default": "classic-horizontal"
    },
    {
      "type": "paragraph",
      "content": "Classic Horizontal Thumbs: Product Thumbnails below."
    },
    {
      "type": "paragraph",
      "content": "Classic Vertical Thumbs: Product Thumbnails on Left."
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fluid_layout",
      "label": "Full Width Layout?",
      "default": false
    },
    {
      "type": "header",
      "content": "Features"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show Vendor?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social_share",
      "label": "Show Social Share?",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_images_zoom",
      "label": "Enable Images Zoom?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_dynamic_checkout",
      "label": "Enable Dynamic checkout Buttons?",
      "default": false
    }
  ]
}
{% endschema %} 
<script>
const jsonProducts = JSON.parse(document.querySelectorAll('[data-bundle-json]')[0].innerHTML);
// console.log(jsonProducts.products.length); 
let addBundleHTML1 = ``;
for(let i in jsonProducts.products){
	let subProduct = jsonProducts.products[i];
	let currentVariant = subProduct.variants[0];
// 	console.log('currentVariant:',currentVariant);
	addBundleHTML1 += `<div class="col-12 col-lg-4 col-md-4 col-sm-6 mb-5 d-flex align-items-stretch justify-content-around">`;
	addBundleHTML1 += `<div class="card card-product card-product-style-1 text-left" data-product-grid>`;   
 
	
	let alt = subProduct.image.alt != '' ? subProduct.image.alt : subProduct.title ;
	let height = subProduct.image.height != '' ? subProduct.image.height : '';
	let width = subProduct.image.width != '' ? subProduct.image.width : '';
	addBundleHTML1 += `<div class="card-img text-center">`;
	addBundleHTML1 += `<a href="/products/${subProduct.handle}" class="d-block product-link" >`;
    addBundleHTML1 += `<img src="${subProduct.image.src}" sizes="auto"  loading="lazy" class="lazyload w-100" data-feauredImage alt="${alt}" width="${width}" height="${height}" > `;     
	addBundleHTML1 += `</a>`; 
	addBundleHTML1 += `</div>`;

	addBundleHTML1 += `<div class="card-body">`;
    addBundleHTML1 += `<h6 class="card-title m-0">`;
    addBundleHTML1 += `<a class="product-link" href="/products/${subProduct.handle}">${subProduct.title}</a>`;
    addBundleHTML1 += `</h6>`;
    addBundleHTML1 += `<p>${subProduct.vendor}</p>`;  
  	addBundleHTML1 += `</div>`;

	

	addBundleHTML1 += `<div class="card-footer bg-transparent pt-0 border-0 pb-3">`;
    addBundleHTML1 += `<div class="mb-3">`;
    if(currentVariant.compare_at_price > currentVariant.price){
//     	addBundleHTML1 += `<s class="price small m-0 p-0 text-gray-600 me-1 money" data-comparePrice>${Shopify.formatMoney(currentVariant.compare_at_price, window.globalVariables.money_format)}</s>`;
    }
//     addBundleHTML1 += `<span class="price m-0 p-0 money" data-currentPrice>${Shopify.formatMoney(currentVariant.price, window.globalVariables.money_format)}</span>`;
    addBundleHTML1 += `</div>`;	    
    addBundleHTML1 += `</div>`;

	addBundleHTML1 += `<product-form>`;
	addBundleHTML1 += `<form method="post" action="/cart/add" id="product-form-${subProduct.id}" accept-charset="UTF-8" class="mt-5" enctype="multipart/form-data" data-product-form="" data-product-id="${subProduct.id}" data-type="add-to-cart-form">`;
// 	console.log('sub variant length',subProduct.variants.length);  
	if(subProduct.variants.length > 1){
		addBundleHTML1 += `<variant-selects class="no-js-hidden" data-url="/products/${subProduct.handle}" data-type="variant-select">`;
		for(let j in subProduct.options){
			let subOption = subProduct.options[j];
// 			console.log('sub Option',subOption);  
			addBundleHTML1 += `<div class="product-form__input product-form__input--dropdown mb-4" data-optionindex="${j}">`;
  			addBundleHTML1 += `<label class="fw-medium text-uppercase font-size-sm mb-2" for="Option-${subProduct.id}-${j}">${subOption.name}</label>`; 
            addBundleHTML1 += `<div class="select">`;
    	    addBundleHTML1 += `<select id="Option-${subProduct.id}-${j}" class="form-select variant_selector" name="options[${subOption.name}]" form="product-form-${subProduct.id}">`;
      		for(let k in subOption.values){
      			addBundleHTML1 += `<option value="${subOption.values[k]}">${subOption.values[k]}</option>`;
      		}
    		addBundleHTML1 += `</select>`;
  			addBundleHTML1 += `</div>`;
			addBundleHTML1 += `</div>`; 
		}
		addBundleHTML1 += `</variant-selects>`;
	}else{
		addBundleHTML1 += `<select style="display:none"><option selected value="${currentVariant.id}"></option></select>`; 
	}

  
	addBundleHTML1 += `<div class="quantity-wrapper mb-4" data-qty-container>`;
    addBundleHTML1 += `<label for="Quantity" class="fw-medium text-uppercase font-size-sm mb-2">{{ 'products.product.quantity.label' | t }}</label>`;
    addBundleHTML1 += `<div class="input-group input-group-sm">`;
    addBundleHTML1 += `<div class="input-group-prepend">`;
    addBundleHTML1 += `<a href="#" class="input-group-text" rel="nofollow" aria-label="{{ 'products.product.quantity.decrease' | t }}" title="{{ 'products.product.quantity.decrease' | t }}" data-for="decrease" data-qty-btn>`;
    addBundleHTML1 += `<span class="btn-decrease"><i class="icon ion-md-remove"></i></span>`;
    addBundleHTML1 += `<span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>`;
    addBundleHTML1 += `</a>`;
    addBundleHTML1 += `</div>`;
    addBundleHTML1 += `<input type="number" name="quantity" aria-label="{{ 'products.product.quantity.input_label' | t }}" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>`;
    addBundleHTML1 += `<div class="input-group-append">`;
    addBundleHTML1 += `<a href="#" class="input-group-text" rel="nofollow" aria-label="{{ 'products.product.quantity.increase' | t }}" title="{{ 'products.product.quantity.increase' | t }}" data-for="increase" data-qty-btn>`;
    addBundleHTML1 += `<span class="btn-increase"><i class="icon ion-md-add"></i></span>`;
    addBundleHTML1 += `<span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>`;
    addBundleHTML1 += `</a>`;
    addBundleHTML1 += `</div>`;
    addBundleHTML1 += `</div>`;
    addBundleHTML1 += `</div>`;

  	addBundleHTML1 += `<div class="variantsJSON-${subProduct.id}" data-variantJSON type="application/json" style="display:none;">${JSON.stringify(subProduct.variants)}</div>`;
	addBundleHTML1 += `</form>`;
	addBundleHTML1 += `</product-form>`;


	addBundleHTML1 += `</div>`; 
	addBundleHTML1 += `</div>`; 
	console.log(jsonProducts.products[i]);    

	
} 
document.querySelectorAll('.Bundles')[0].innerHTML = addBundleHTML1;  
</script>